.menu{
background: black;
color:white;
width: 200px;
z-index: 300;
position: fixed;
top: 20px;
left: 20px;
padding: 60px 20px;
font-family: roboto;
font-weight: 500;
position: relative;
height: 100vh;
width:300px;
margin: -30px;
}


.menu p{

}
.menu a{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  padding: 20px;
}

.menu a:hover{
  font-weight: 900;
  color: yellow;
  cursor: pointer;
}

.menuSmall{
 font-size: 2rem;
  color: black;
  z-index: 300;
  margin: 20px;

}

.menuSmall:hover{
  font-size: 2.2rem;
  cursor: pointer;
}


.close{
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 1.5rem;
  padding: 20px 10px;
  font-weight: 100;
}

.close:hover{
  cursor: pointer;
}


.Fa{
  padding: 10px;
}
