.menu{
background: black;
color:white;
width: 200px;
z-index: 300;
position: fixed;
top: 0px;
padding: 30px 30px;
font-family: roboto;
font-weight: 500;
position: relative;
height: 300px;
margin: -30px;


}



.menu p{

}
.menu a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.menu a:hover{
  font-weight: 900;
  cursor: pointer;
}

.menuSmall{
  width: 10px;

}


.close{
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 1rem;
  padding: 10px;
}

.close:hover{
  cursor: pointer;
}
