.bigPic{
  position: absolute;
    z-index: 500;
    width: 1000px;
    border: 1px solid #ccc;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    left: 15%;
    top: 15%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}



