.step{
width: 230px;
height: 300px;

float: left;
transform: translateY(500px);
background: white;
padding: 20px;
padding-top: 60px;
 text-align: center;
 margin:10px;

border-radius: 5px;

}


.subtitle{
  color: #0D81B3;
  font-weight: 600;
  font-size: 1.3rem;
}


.steps{
margin-top: -500px;
  background: red;
display: block;
text-align:center;
margin-left: 8%;

}






.exp{
  margin-top: -30px;
  font-family: roboto;
  visibility: hidden;
  font-size: .9rem;
  z-index: 100;

}

.step:hover  .exp{
  color: grey;
  visibility: visible;
}

.step:hover  .subtitle{
  color:white;

}


.step:hover{
    box-shadow: 0 4px 92px rgba(0,0,0,.11);
    padding-top: 20px;
    transition: all 1s ease-out;
}



