.step{
width: 70%;
margin: 100px 50px;
margin-right: 0px;
transform: translateY(500px);
transition: all 3s ease-out;
background: white;
padding: 30px;


}


.bigNumber{
  color: yellow;
  font-size: 15em;
  font-family: roboto;
  font-weight: 900;
  padding: 20px;
  z-index: 200;

}


.exp{
  font-family: roboto;
  font-weight: 700;

  font-size: 2em;
  transition: all 3s ease-out;
  z-index: 100;
}


.margin{
  margin-left: 400px;
   padding-top: 20px;
  margin-top: 20px
}

.steps{
margin-top: -400px;
width: 100%;

}
